.blog {
    margin: 100px 0 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    .card {
        img {
            border-radius: 16px;
            object-fit: cover;
            max-height: 341.86px;
            margin-bottom: 10px;
        }
        h4 {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 32px;
            color: #455A64;
            margin-bottom: 10px;

        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 31px;
            letter-spacing: 0.01em;
            color: #263238;
        }
    }
}

.blog-content{ 
    img {
        border-radius: 16px;
        object-fit: cover;
        max-height: 341.86px;
        margin-bottom: 10px;
    }
    h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: #455A64;
        margin-bottom: 10px;

    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 31px;
        letter-spacing: 0.01em;
        color: #263238;
    }
}
.blog-header {
    display: grid;
    gap: 95px;
    grid-template-columns: 1fr 1fr ;
    align-items: flex-end;
    img {
        border-radius: 16px;
        object-fit: cover;
        max-height: 341.86px;
        margin-bottom: 10px;
    }
    h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: #455A64;
        margin-bottom: 10px;

    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 31px;
        letter-spacing: 0.01em;
        color: #263238;
    }
}