.faq-paragraph {
    margin-top: 70px;
    .inner-paragraph {
            margin-top: 10px;
            padding: 16px 40px;
            background: #EEEEEE;
            border-radius: 8px;
            .header {
                display: grid;
                grid-template-columns: 1fr auto;
                align-items: center;
                cursor: pointer;
                text-transform: capitalize;
            }
            p {
                font-weight: normal;
                font-size: 17px;
                line-height: 38px;
                letter-spacing: 0.01em;
                color: #666666;
            }
            .body {
                p {
                    max-height: 0px;
                    overflow: hidden;
                    -webkit-transition: max-height 0.8s;
                    -moz-transition: max-height 0.8s;
                    transition: max-height 0.8s;
                }
                &.show {
                    p {
                        max-height: 1000px;
                    }
                }
            }
    }
}