header {
    display: flex;
    justify-content: space-between;
    .header-logo {
            width: 138px;
            margin-top: 38px;
        }
    ul {
        display: flex;
        margin-top: 57px;
        li {
            display: block;
            a {
                display: block;
                padding: 20px;
                color: #263238;
            }
        }
    }
    > div {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }
    .btn{
        margin-top: 50px;
    }
    
}