.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 20px;
}
.btn {
  border-radius: 7px;
  font-size: 18px;
  line-height: 1;
  padding: 12px 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: 7px;
}
.btn-rounded {
  border-radius: 50px;
  padding: 5px;
  line-height: 1;
  padding: 3px;
  font-size: 22px;
  width: 30px;
  text-align: center;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn.large { 
  padding: 19px 38px;
}
.btn-rounded.primary ,
.btn.primary {
  color: #ffffff;
  background: #1666ff;
  border:solid 2px #1666ff;
  &:hover {
    color: #1666ff;
    background: transparent;
    border:solid 2px #1666ff;
  }
}
.btn.outline-primary {
  color: #1666ff;
  border:solid 2px #1666ff;
  &:hover {
    border:solid 2px transparent;
  }
}
h1 {
  font-size: calc(25px + 2vw);
  letter-spacing: 0.01em;
  color: #263238;
}
h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #455A64;
}

.lrg {
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  letter-spacing: 0.01em;
  color: #263238;
}
.more-btn {
  padding: 10px 0;
  display: flex;
  gap: 20px;
  align-items: center;
}
.form {
  padding: 62px 77px;
  background: #F1F1F1;
  border-radius: 17px;
}
label {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #658493;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea{
  background: #FFFFFF;
  margin-top: 8px;
  margin-bottom: 30px;
  border: 1px solid #536B79;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  min-height: 56px;
  display: block;
  padding: 0 20px;
}
.form-submit {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

::placeholder ,
:-ms-input-placeholder ,
::-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #C9CACD;
}
.hide { display: none; opacity: 0; }
.left {text-align: left;}
.right {text-align: right;}
.center {text-align: center;}
.fa-times {cursor: pointer; transition: 0.4s;}
.rotate{
  i {
    transform: rotate(45deg);
  }
}

.g { display: grid; }
.a-center {align-items: center;}
.f2 { grid-template-columns: 1fr 1fr ; }


.slider-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;
}