.container {
  max-width: 1364px;
  margin: 0 auto;
  padding: 0 20px;
}
.btn {
  border-radius: 7px;
  font-size: 18px;
  line-height: 1;
  padding: 12px 20px;
  display: inline-block;
  border-radius: 7px;
}
.btn.primary {
  color: #ffffff;
  background: #1666ff;
}
