.popup-vid {
    >div {
        width: 100vw;
        height:  100vh;
        position: fixed;
        z-index: 8888;
        background-color: #00000090;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        i {
            justify-self: end;
            z-index: 1;
            margin-bottom: -20px;
            margin-right: -20px;
        }
    }
}    