.subscribe {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: center;
    gap: 50px;
    align-items: center;
    form {
        display: grid;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        grid-template-columns: 3fr 2fr;
        input {
            margin: 0;
        }
    }
}